body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  font-weight: 300;
}

#container {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}

#pokemon-search-form {
  width: 500px;
  margin: auto;
  margin-top: 50px;
}

#pokemon-search-input {
  font-size: 3rem;
  border: 3px solid #fecd2f;
  color: #2d72fc;
}

#pokemon-logo {
  width: 300px;
  margin-left: 330px;
}

input:focus {
  outline: none;
}

.pokemon-container {
  /* float: left; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;

}

.center-text {
  text-align: center;
}

.flip-image {
  color: #2d72fc;
}


.pokemon-pic {
  max-width: 55%;
  max-height: 55%;
}

div {
 display: inline-block;
}

.poke {
  border: 1px dotted blue;
  border-radius: 5px;
}
